  <div class="container">
    <h3>le prix moyen par représentation </h3>
    <% @show_title.uniq.each do |show| %>
      <% @price.where(spectacle: show).each do |att| %>
        <% @prices_per_show << att.attributes["prix"] %>
      <% end %>
      <% @average_prices << @prices_per_show.sum.to_f / @prices_per_show.count %>
      <% @prices_per_show.clear %>
      <% end %>
      <% @average_prices.each_with_index do |r, i| %>
      <%= "#{@show_title.uniq[i]}: #{trim(r.round(2))}€" %>
    <% end %>
  </div>
